// Fonts
@font-face {
    font-family: "UnifrakturMaguntia";
    src: url(../fonts/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
    font-family: "NotoSerif";
    src: url(../fonts/NotoSerif-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "NotoSerif";
    src: url(../fonts/NotoSerif-Bold.ttf);
    font-weight: 700;
}

// Functions
@function dpToRem($dp) {
    @return $dp * 0.0625rem;
}

// Mixins
@mixin default-button($textColor, $textColorHover) {
    padding: 8px 16px;

    outline: 0;
    border: 2px solid $secondaryColor;
    border-radius: 5px;
    background-color: transparent;
    color: $textColor;
    cursor: pointer;
    transition: 150ms $standardEasing background-color;

    &:hover {
        background-color: $secondaryColor;
        color: $textColorHover;
    }
}

// Variables
$displayFont: "UnifrakturMaguntia", cursive, arial;
$fontFamily: "NotoSerif", serif, arial;
$fontWeightRegular: 400;
$backgroundColor: #ececec;
$secondaryColor: #4ba3d6;
$standardEasing: cubic-bezier(0.4, 0.0, 0.2, 1);
$navHeight: 52px;
 
// Styling
html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

body {
    overflow-y: auto;
    background-color: $backgroundColor;
}

nav {
    height: $navHeight;
    width: 100%;

    z-index: 4;
    position: relative;

    background-color: #363636;

    h1 {
        margin: 0;
        position: relative;
        top: 10px;
        left: 16px;
        display: inline-block;
        float: left;

        font-family: $displayFont;
        color: #ffffff;
        font-size: dpToRem(32);
    }

    #hamburgerToggle, #hamburger {
        display: none;
    }

    #hamburger {
        height: $navHeight;
        width: $navHeight;

        position: absolute;
        top: 0;
        right: 0;

        .hamburgerStyling {
            height: 32px;
            width: 32px;

            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;

            span {
                width: 100%;
                height: 2px;

                display: block;

                background-color: #4ba3d6;
            }

            span:nth-child(2) {
                margin: 13px 0px;
            }
        }
    }

    ul {
        height: 100%;

        margin: 0;
        padding: 0;
        float: left;
        margin-left: 32px;

        list-style-type: none;

        li {
            height: 100%;

            padding: 0px 16px;
            float: left;
            
            a {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                display: block;

                color: #ffffff;
                font-family: $fontFamily;
                font-weight: $fontWeightRegular;
            }
        }
    }
}

.mainHeader {
    height: 100%;
    width: 100%;

    z-index: 1;

    .floatingWrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 4;

        h1, h2 {
            text-align: center;
        }

        h1 {
            margin: 0;
    
            font-family: $displayFont;
            font-size: dpToRem(148);
            color: #ffffff;
        }
    
        h2 {
            margin: 0;

            font-family: $fontFamily;
            font-size: dpToRem(32);
            color: #e7e7e7;
        }
    }

    & + video {
        min-width: 100%;
        max-width: 100%;

        margin-top: -100%;
        z-index: 1;
    }
}

.articles {
    width: 80%;

    margin: 16px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-gap: 16px;

    background-color: $backgroundColor;

    article, #contactContent {
        width: 100%;
        
        position: relative;
        padding-bottom: 67px + 16px;

        border: #363636 1px solid;
        border-radius: 5px;
        background-color: #ffffff;
        display: inline-block;

        header {
            width: 100%;
            height: 48px;

            background-color: #363636;

            h2 {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin: 0;
                padding: 0px 16px;

                font-size: 20px;
                font-family: $fontFamily;
                color: #ffffff;
            }
        }

        section, aside {
            width: 100%;

            h3 {
                padding: 0px 16px;

                font-family: $fontFamily;
            }

            p { 
                margin-top: 16px;
                margin-bottom: 16px;
                padding: 0px 16px;

                font-family: $fontFamily;
            }

            img {
                height: 128px;

                margin-left: 16px;

                border-radius: 5px;
            }

            ul {
                font-size: 16px;
                font-family: $fontFamily;

                p {
                    padding: 0;
                }

                img {
                    margin-left: 0;
                }
            }
        }

        footer {
            width: calc(100% - 32px);

            margin-top: 16px;
            padding: 16px;
            position: absolute;
            bottom: 0;

            background-color: #575757;

            button {
                @include default-button(#ffffff, #ffffff);
            }
        }
    }
}

#sportContent {
    grid-area: 2 / 1 / 4 / 2;
}

#referralContent {
    font-family: $fontFamily;

    section, aside {
        width: 50%;

        float: left;
    }
}

#contactContent {
    grid-area: 3 / 2 / 4 / 3;

    form {
        width: 95%;

        margin: 16px auto;
        display: grid;
        grid-template-columns: 50% 50%;

        fieldset {
            border: 0;

            legend {
                font-family: $fontFamily;
                font-size: 20px;
            }

            input {
                width: calc(100% - 16px);
                
                display: block;
                margin: 8px 0px;
                padding: 8px;
                
                outline: 0;
                font-family: $fontFamily;
                font-size: 16px;
                border: 2px solid $secondaryColor;
                border-radius: 5px;
            }

            button {
                @include default-button($secondaryColor, #ffffff);

                width: 100%;
            }

            textarea {
                width: calc(100% - 16px);

                padding: 8px;

                outline: 0;
                resize: vertical;
                font-family: $fontFamily;
                font-size: 16px;
                border: 2px solid $secondaryColor;
                border-radius: 5px;
            }
        }

        section p:first-child {
            margin-top: 32px;
        }
    }
}

.cookieBanner {
    #cookieToggle {
        display: none;

        &:checked ~ #cookie {
            display: none;
        }
    }

    #cookie {
        width: calc(100% - 32px);

        padding: 16px;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 6;

        background-color: #6e6e6e;
        color: #ffffff;
        text-align: center;

        a {
            margin-left: 16px;

            text-decoration: underline;
            color: #bfceff;
            cursor: pointer;
        }
    }
}

footer {
    width: calc(100% - 64px);
    padding: 32px;

    background-color: #575757;
    color: #ffffff;
    font-family: $fontFamily;

    a {
        color: #bfceff;
    }
}

// Tablet
@media screen and (max-width: 1300px) {
    .articles {
        width: 95%;

        display: block;

        article {
            margin: 16px 0px;
        }
    }
}

// Hide video before it looks bad
@media screen and (max-width: 900px) {
    .mainHeader {
        background-image: url(../img/haarlem-header-image.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    nav {
        height: unset;
        min-height: $navHeight;
        display: inline-block;

        ul {
            height: unset;
            
            margin-left: 64px;
            display: none;

            list-style: circle;

            li {
                margin: 16px 0px;
                float: none;

                a {
                    top: 0;
                    transform: translateY(0);
                }
            }
        }

        #hamburger {
            display: block;
        }

        #hamburgerToggle:checked ~ ul {
            display: block;
        }
    }

    video {
        display: none;
    }
}

// Mobile
@media screen and (max-width: 600px) {
    .mainHeader {
        height: 50%;

        .floatingWrapper {
            h1 {
                font-size: dpToRem(64);
            }

            h2 {
                font-size: dpToRem(24);
            }
        }
    }

    #referralContent {
        section, aside {
            width: 100%;
        }
    }

    #contactContent form {
        display: block;
    }
}