@font-face {
  font-family: "UnifrakturMaguntia";
  src: url(../fonts/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
  font-family: "NotoSerif";
  src: url(../fonts/NotoSerif-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "NotoSerif";
  src: url(../fonts/NotoSerif-Bold.ttf);
  font-weight: 700;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-y: auto;
  background-color: #ececec;
}

nav {
  height: 52px;
  width: 100%;
  z-index: 4;
  position: relative;
  background-color: #363636;
}

nav h1 {
  margin: 0;
  display: block;
  position: relative;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  float: left;
  font-family: "UnifrakturMaguntia", cursive, arial;
  color: #ffffff;
  font-size: 2rem;
}

nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 32px;
  list-style-type: none;
}

nav ul li {
  height: 100%;
  padding: 0px 16px;
  float: left;
}

nav ul li a {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  color: #ffffff;
  font-family: "NotoSerif", serif, arial;
  font-weight: 400;
}

.mainHeader {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.mainHeader .floatingWrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mainHeader .floatingWrapper h1, .mainHeader .floatingWrapper h2 {
  text-align: center;
}

.mainHeader .floatingWrapper h1 {
  margin: 0;
  font-family: "UnifrakturMaguntia", cursive, arial;
  font-size: 9.25rem;
  color: #ffffff;
}

.mainHeader .floatingWrapper h2 {
  margin: 0;
  font-family: "NotoSerif", serif, arial;
  font-size: 2rem;
  color: #cecece;
}

.mainHeader + video {
  min-width: 100%;
  max-width: 100%;
  margin-top: -100%;
  z-index: 1;
}

.articles {
  width: 80%;
  min-width: 635px;
  margin: auto;
  margin-top: 16px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "mainContent secondaryContent" "sportContent referralContent";
  grid-gap: 16px;
  background-color: #ececec;
}

.articles article {
  padding: 16px;
  border: #363636 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
}

.articles #mainContent {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: mainContent;
}

.articles #secondaryContent {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondaryContent;
}

.articles #sportContent {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sportContent;
}

.articles #referralContent {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: referralContent;
}

@media screen and (max-width: 600px) {
  nav {
    height: 64px;
  }
}
