@font-face {
  font-family: "UnifrakturMaguntia";
  src: url(../fonts/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
  font-family: "NotoSerif";
  src: url(../fonts/NotoSerif-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "NotoSerif";
  src: url(../fonts/NotoSerif-Bold.ttf);
  font-weight: 700;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-y: auto;
  background-color: #ececec;
}

nav {
  height: 52px;
  width: 100%;
  z-index: 4;
  position: relative;
  background-color: #363636;
}

nav h1 {
  margin: 0;
  position: relative;
  top: 10px;
  left: 16px;
  display: inline-block;
  float: left;
  font-family: "UnifrakturMaguntia", cursive, arial;
  color: #ffffff;
  font-size: 2rem;
}

nav #hamburgerToggle, nav #hamburger {
  display: none;
}

nav #hamburger {
  height: 52px;
  width: 52px;
  position: absolute;
  top: 0;
  right: 0;
}

nav #hamburger .hamburgerStyling {
  height: 32px;
  width: 32px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
}

nav #hamburger .hamburgerStyling span {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #4ba3d6;
}

nav #hamburger .hamburgerStyling span:nth-child(2) {
  margin: 13px 0px;
}

nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 32px;
  list-style-type: none;
}

nav ul li {
  height: 100%;
  padding: 0px 16px;
  float: left;
}

nav ul li a {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  color: #ffffff;
  font-family: "NotoSerif", serif, arial;
  font-weight: 400;
}

.mainHeader {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.mainHeader .floatingWrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 4;
}

.mainHeader .floatingWrapper h1, .mainHeader .floatingWrapper h2 {
  text-align: center;
}

.mainHeader .floatingWrapper h1 {
  margin: 0;
  font-family: "UnifrakturMaguntia", cursive, arial;
  font-size: 9.25rem;
  color: #ffffff;
}

.mainHeader .floatingWrapper h2 {
  margin: 0;
  font-family: "NotoSerif", serif, arial;
  font-size: 2rem;
  color: #e7e7e7;
}

.mainHeader + video {
  min-width: 100%;
  max-width: 100%;
  margin-top: -100%;
  z-index: 1;
}

.articles {
  width: 80%;
  margin: 16px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 16px;
  background-color: #ececec;
}

.articles article, .articles #contactContent {
  width: 100%;
  position: relative;
  padding-bottom: 83px;
  border: #363636 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
  display: inline-block;
}

.articles article header, .articles #contactContent header {
  width: 100%;
  height: 48px;
  background-color: #363636;
}

.articles article header h2, .articles #contactContent header h2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  padding: 0px 16px;
  font-size: 20px;
  font-family: "NotoSerif", serif, arial;
  color: #ffffff;
}

.articles article section, .articles article aside, .articles #contactContent section, .articles #contactContent aside {
  width: 100%;
}

.articles article section h3, .articles article aside h3, .articles #contactContent section h3, .articles #contactContent aside h3 {
  padding: 0px 16px;
  font-family: "NotoSerif", serif, arial;
}

.articles article section p, .articles article aside p, .articles #contactContent section p, .articles #contactContent aside p {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0px 16px;
  font-family: "NotoSerif", serif, arial;
}

.articles article section img, .articles article aside img, .articles #contactContent section img, .articles #contactContent aside img {
  height: 128px;
  margin-left: 16px;
  border-radius: 5px;
}

.articles article section ul, .articles article aside ul, .articles #contactContent section ul, .articles #contactContent aside ul {
  font-size: 16px;
  font-family: "NotoSerif", serif, arial;
}

.articles article section ul p, .articles article aside ul p, .articles #contactContent section ul p, .articles #contactContent aside ul p {
  padding: 0;
}

.articles article section ul img, .articles article aside ul img, .articles #contactContent section ul img, .articles #contactContent aside ul img {
  margin-left: 0;
}

.articles article footer, .articles #contactContent footer {
  width: calc(100% - 32px);
  margin-top: 16px;
  padding: 16px;
  position: absolute;
  bottom: 0;
  background-color: #575757;
}

.articles article footer button, .articles #contactContent footer button {
  padding: 8px 16px;
  outline: 0;
  border: 2px solid #4ba3d6;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) background-color;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) background-color;
}

.articles article footer button:hover, .articles #contactContent footer button:hover {
  background-color: #4ba3d6;
  color: #ffffff;
}

#sportContent {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
}

#referralContent {
  font-family: "NotoSerif", serif, arial;
}

#referralContent section, #referralContent aside {
  width: 50%;
  float: left;
}

#contactContent {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

#contactContent form {
  width: 95%;
  margin: 16px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

#contactContent form fieldset {
  border: 0;
}

#contactContent form fieldset legend {
  font-family: "NotoSerif", serif, arial;
  font-size: 20px;
}

#contactContent form fieldset input {
  width: calc(100% - 16px);
  display: block;
  margin: 8px 0px;
  padding: 8px;
  outline: 0;
  font-family: "NotoSerif", serif, arial;
  font-size: 16px;
  border: 2px solid #4ba3d6;
  border-radius: 5px;
}

#contactContent form fieldset button {
  padding: 8px 16px;
  outline: 0;
  border: 2px solid #4ba3d6;
  border-radius: 5px;
  background-color: transparent;
  color: #4ba3d6;
  cursor: pointer;
  -webkit-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) background-color;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) background-color;
  width: 100%;
}

#contactContent form fieldset button:hover {
  background-color: #4ba3d6;
  color: #ffffff;
}

#contactContent form fieldset textarea {
  width: calc(100% - 16px);
  padding: 8px;
  outline: 0;
  resize: vertical;
  font-family: "NotoSerif", serif, arial;
  font-size: 16px;
  border: 2px solid #4ba3d6;
  border-radius: 5px;
}

#contactContent form section p:first-child {
  margin-top: 32px;
}

.cookieBanner #cookieToggle {
  display: none;
}

.cookieBanner #cookieToggle:checked ~ #cookie {
  display: none;
}

.cookieBanner #cookie {
  width: calc(100% - 32px);
  padding: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 6;
  background-color: #6e6e6e;
  color: #ffffff;
  text-align: center;
}

.cookieBanner #cookie a {
  margin-left: 16px;
  text-decoration: underline;
  color: #bfceff;
  cursor: pointer;
}

footer {
  width: calc(100% - 64px);
  padding: 32px;
  background-color: #575757;
  color: #ffffff;
  font-family: "NotoSerif", serif, arial;
}

footer a {
  color: #bfceff;
}

@media screen and (max-width: 1300px) {
  .articles {
    width: 95%;
    display: block;
  }
  .articles article {
    margin: 16px 0px;
  }
}

@media screen and (max-width: 900px) {
  .mainHeader {
    background-image: url(../img/haarlem-header-image.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  nav {
    height: unset;
    min-height: 52px;
    display: inline-block;
  }
  nav ul {
    height: unset;
    margin-left: 64px;
    display: none;
    list-style: circle;
  }
  nav ul li {
    margin: 16px 0px;
    float: none;
  }
  nav ul li a {
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  nav #hamburger {
    display: block;
  }
  nav #hamburgerToggle:checked ~ ul {
    display: block;
  }
  video {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .mainHeader {
    height: 50%;
  }
  .mainHeader .floatingWrapper h1 {
    font-size: 4rem;
  }
  .mainHeader .floatingWrapper h2 {
    font-size: 1.5rem;
  }
  #referralContent section, #referralContent aside {
    width: 100%;
  }
  #contactContent form {
    display: block;
  }
}
