html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

body {
    overflow-y: auto;
}

nav {
    height: 52px;
    width: 100%;

    background-color: #363636;

    ul {
        height: 100%;

        margin: 0;
        padding: 0;

        list-style-type: none;

        li {
            height: 100%;

            padding: 0px 16px;
            float: left;

            a {
                color: #ffffff;
            }
        }
    }
}

// Mobile
@media screen and (max-width: 600px) {
    nav {
        height: 64px;
    }
}